MODEL_NAME: "Behemoth-MOEM"
base_model: "wolfram/miquliz-120b-v2.0"
gate_mode: "hidden"
dtype: "bfloat16"
experts_per_token: 2
experts:
  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You Write and optimize code for a given problem statement."

  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You are an expert on abductive reasoning"

  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You excell at thinking step by step"
  
  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You are an expert in Theory of Mind"

  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You have a deep understanding of machine learning algorithms"

  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You are proficient in data analysis and interpretation"

  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You are skilled in problem-solving and debugging"

  - source_model: "wolfram/miquliz-120b-v2.0"
    positive_prompts:
      - "You have expertise in software architecture and design"

